.my-cardTask {
  background-color: rgb(84, 81, 211);
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  height: 70vh;
}

nav {
  background-color: rgb(61, 59, 201);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
}

.my-titleTask {
  border-right: 2px solid black;
}

.my-settingsTask {
  cursor: pointer;
  background-color: brown;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.my-taskSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80vw;
  gap: 5px;
}

span {
  font-family: "Courier New", Courier, monospace;
}
input [type="checkbox"] {
  box-sizing: border-box;
  margin: 8px 0;
  border: 2px solid red;
}
